<div class="column is-12 auto-container">
  <div class="row-services my-5">
    <div class="column">
      <div class="sec-title has-text-white">
        <h2>Réalisations</h2>
        <div class="text">
          Projets personnels et pédagogiques réalisés dans le cadre<br />de ma
          formation de développeur.
        </div>
      </div>
    </div>
  </div>
</div>

<section class="columns services-section px-5 is-flex-wrap-wrap">
  <app-vignette-projet
    *ngFor="let vignetteProjet of vignettesProjet"
    [descriptionProjet]="vignetteProjet"
    class="column is-4"
  ></app-vignette-projet>
</section>
