<div class="column is-12 auto-container">
  <div class="row-services my-5">
    <div class="column">
      <div class="sec-title has-text-white">
        <h2>Réalisations</h2>
        <div class="text">
          Projets personnels et pédagogiques réalisés dans le cadre<br />de ma
          formation de développeur.
        </div>
      </div>
    </div>
    <div class="column mt-6"></div>
  </div>
</div>

<section class="columns services-section px-5">
  <div class="column is-4 service-block">
    <div class="inner-box">
      <div class="image-box">
        <a routerLink="/projetBarbemousse"
          ><figure class="image">
            <img src="../../assets/Barbemousse-min.png" alt="" /></figure
        ></a>
      </div>
      <div class="lower-content">
        <h4>
          <a routerLink="/presentationProjet">MicroBrasserie Barbemousse</a>
        </h4>
        <div class="text">
          Site vitrine d'un brasseur indépendant, réalisé avec React et
          Bootstrap.
        </div>
        <div class="btn-box">
          <a routerLink="/presentationProjet" class="read-more"
            >En savoir plus<span class="fa fa-arrow-right"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4 service-block">
    <div class="inner-box">
      <div class="image-box">
        <figure class="image">
          <a href="service-detail.html"
            ><img src="../../assets/Portfolio-min.png" alt=""
          /></a>
        </figure>
      </div>
      <div class="lower-content">
        <h4><a href="service-detail.html">Portfolio</a></h4>
        <div class="text">
          Site personnel de présentation, réalisé avec Angular et Bulma.
        </div>
        <div class="btn-box">
          <a href="service-detail.html" class="read-more"
            >En savoir plus <span class="fa fa-arrow-right"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-4 service-block">
    <div class="inner-box">
      <div class="image-box">
        <figure class="image">
          <a><img src="../../assets/ENIEncheres.PNG" alt="" /></a>
        </figure>
      </div>
      <div class="lower-content">
        <h4><a href="#">Application d'enchères</a></h4>
        <div class="text">
          Application WEB, réalisée dans le cadre de ma formation D2WM, avec
          JavaEE et Bootstrap.
        </div>
        <div class="btn-box">
          <a href="#" class="read-more"
            >En savoir plus <span class="fa fa-arrow-right"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
