<div class="service-block">
  <div class="inner-box">
    <div class="image-box">
      <a (click)="onVoirProjet()"
        ><figure class="image">
          <img
            [src]="descriptionProjet.imageUrlVignette"
            alt="{{ descriptionProjet.titre }}"
          /></figure
      ></a>
    </div>
    <div class="lower-content">
      <h4>
        <a (click)="onVoirProjet()">{{ descriptionProjet.titre }}</a>
      </h4>
      <div class="text">
        {{ descriptionProjet.sousTitreVignette }}
      </div>
      <div class="btn-box">
        <a (click)="onVoirProjet()" class="read-more"
          >En savoir plus<span class="fa fa-arrow-right"></span
        ></a>
      </div>
    </div>
  </div>
</div>
