<div
  class="container is-fluid has-background-warning-light"
  id="sectionWrapper"
>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title is-spaced">
            Site vitrine de la MicroBrasserie Barbemousse
          </h2>
          <p class="subtitle">
            Premier projet réalisé avec React JS et en CSS pur dans un premier
            temps, <br />puis à l'aide de Bootstrap pour la seconde version.
            <br />Site toujours en construction et pas encore en production.
            compétences/connaissances développées : utilisation d'un FrameWork
            JS et d'un Framework CSS, animation CSS, responsive design
          </p>
        </div>
        <div class="column">
          <div class="columns is-multiline">
            <div class="column is-6 is-flex">
              <img src="../../assets/Barbemousse1-min.png" alt="" />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img src="../../assets/scrollFullPagegif.gif" alt="" />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img src="../../assets/animationBieres.gif" alt="" />
            </div>
            <div class="column is-6 is-flex">
              <img src="../../assets/Barbemousse2-min.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<button
  class="button is-large has-background-black-ter"
  onclick="history.back()"
>
  <span class="icon is-large has-text-white">
    <i class="fa-solid fa-2x fa-angle-left"></i>
  </span>
</button>
