<article class="message container my-6">
  <div class="message-body has-text-justified">
    <h2 class="title has-text-centered column is-full">Présentation</h2>
    <p>
      &nbsp;&nbsp;&nbsp;🏭&nbsp;&nbsp;&nbsp;C'est à l'IUT, en 2009, que j'écris
      mes premières lignes de code en C++. Malgré un réel intérêt pour cette
      discipline, c'est dans l'industrie que je débute ma carrière. Au
      Royaume-Uni d'abord, en région parisienne ensuite, et dans ma Normandie
      natale enfin.
      <br />&nbsp;&nbsp;&nbsp;🦠&nbsp;&nbsp;&nbsp;En 2020, alors que la pandémie
      nous assigne à résidence pendant plusieurs semaines, je m'occupe (et
      m'amuse) en codant de petits jeux en Python. L'idée d'en faire mon métier
      me traverse alors l'esprit, mais un (heureux) évènement m'empêche de
      quitter mon poste et la stabilité qu'il m'offre.
      <br />&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;Fin 2021, je me lance enfin dans
      l'aventure en me formant au front-end. Je conçois et développe alors le
      site vitrine d'une
      <a routerLink="/presentationProjet"> microbrasserie</a>. Quelques mois
      plus tard, je décide de quitter mon emploi pour me consacrer pleinement à
      ce projet. J'intègre alors le cursus
      <a
        href="https://www.eni-ecole.fr/formations/developpement/bac2-developpeur-web-et-web-mobile/"
        target="_blank"
      >
        D2WM de l'ENI</a
      >
      avec, pour objectifs :
    </p>
    <ul class="ml-6">
      <li>🤓- Me former au développement Backend</li>
      <li>👨‍🎓 - Obtenir un titre professionnel</li>
      <li>
        👨🏻‍💻 - Justifier d'une première expérience en développement (stage 2 mois)
      </li>
    </ul>
    <p>
      <br />&nbsp;&nbsp;&nbsp;🎯&nbsp;&nbsp;&nbsp;Après 3 mois de formation, le
      premier objectif est déjà pleinement atteint notamment avec la découverte
      de la POO(Java), de la persistance des données(SQL Server) et
      développement en couches(MVC). Je suis très à l'aise avec ces nouvelles
      notions (nommé "Scrum Master" du premier projet d'école (ENI-Enchères)).
      <br />&nbsp;&nbsp;💻&nbsp;&nbsp;La seconde partie de la formation sera
      consacrée à Javascript(Angular), PHP(Symfony), WordPress, développement
      mobile sous Android et comprendra également le développement du second
      projet d'école avec PHP/MySQL.
      <br />&nbsp;&nbsp;&nbsp;🚀&nbsp;&nbsp;&nbsp;A l'issu de cette formation,
      j'envisage d'intégrer une formation de Concepteur Développeur
      d'Applications en alternance, me permettant ainsi de confirmer mes
      nouvelles compétences. <br />&nbsp;&nbsp;&nbsp;📢&nbsp;&nbsp;&nbsp;Je
      recherche actuellement une entreprise pour réaliser un stage (fullstack)
      du 17 Octobre au 9 Décembre 2022.<br />&nbsp;&nbsp;&nbsp;📬&nbsp;&nbsp;&nbsp;Chers
      visiteurs, n'hésitez pas à utiliser le formulaire de contact pour me
      soumettre vos questions, conseils, remarques...
    </p>
  </div>
</article>
