<section
  class="box column is-half is-offset-one-quarter has-background-white-ter my-5 is-gapless is-multiline"
>
  <h2 class="title has-text-centered column is-full">Compétences</h2>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-css3-alt"></i></span>
      <span>CSS</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-info" value="75" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-html5"></i></span>
      <span>HTML</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-warning" value="40" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-square-js"></i> </span>
      <span>JavaScript</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-warning" value="40" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-java"></i> </span>
      <span>Java</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-danger" value="75" max="100"></progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-php"></i> </span>
      <span>php</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-link" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-solid fa-database"></i> </span>
      <span>SQL</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-info" value="75" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-react"></i> </span>
      <span>ReactJS</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-info" value="40" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-angular"></i> </span>
      <span>Angular</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-danger" value="35" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3">
      <span class="icon"><i class="fa-brands fa-bootstrap"></i></span>
      <span>Bootstrap</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-link" value="75" max="100">60%</progress>
    </div>
  </div>
  <div class="columns mb-0">
    <div class="column is-3 is-flex is-align-content-center">
      <img
        src="../../assets/Bulma_Icon.svg"
        width="18"
        height="16"
        class="mx-1"
      />
      <span>Bulma</span>
    </div>
    <div class="column is-9">
      <progress class="progress is-success" value="75" max="100">60%</progress>
    </div>
  </div>
</section>
