<article class="message container my-6">
  <div class="message-body has-text-justified">
    <h2 class="title has-text-centered column is-full">Présentation</h2>
    <p>
      &nbsp;&nbsp;&nbsp;🏭&nbsp;&nbsp;&nbsp;C'est à l'IUT, en 2009, que j'écris
      mes premières lignes de code en C++. Malgré un réel intérêt pour cette
      discipline, je débute ma carrière dans l'<b>industrie</b>. Au
      <b>Royaume-Uni</b> d'abord, en région parisienne ensuite, et dans ma
      Normandie natale enfin. <br />&nbsp;&nbsp;&nbsp;🦠&nbsp;&nbsp;&nbsp;En
      2020, alors que la pandémie nous assigne à résidence, je m'occupe (et
      m'amuse) en codant de <b>petits jeux en Python</b>. L'idée d'en faire mon
      métier me traverse alors l'esprit, mais un <i>(heureux)</i> évènement
      m'oblige à reporter ce projet. <br />&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;Fin
      2021, je me lance dans l'aventure
      <strong>en me formant au front-end</strong>. Je conçois et développe alors
      le site vitrine d'une
      <a routerLink="/projetBarbemousse"> <em>microbrasserie</em></a
      >. Quelques mois plus tard, je quitte mon emploi pour
      <b>me consacrer pleinement à ce projet</b>. J'intègre alors le cursus
      <a
        href="https://www.eni-ecole.fr/formations/developpement/bac2-developpeur-web-et-web-mobile/"
        target="_blank"
      >
        <em> D2WM de l'ENI</em></a
      >
      avec pour objectifs :
    </p>
    <br />
    <ul class="ml-6">
      <li>🤓 - Me former au développement <strong> Backend</strong></li>
      <li>👨‍🎓 - Obtenir un <strong> titre professionnel</strong></li>
      <li>
        👨🏻‍💻 - Justifier d'une première
        <strong>expérience en développement</strong> (stage 2 mois)
      </li>
    </ul>
    <p>
      <br />&nbsp;&nbsp;&nbsp;🎯&nbsp;&nbsp;&nbsp;Après 3 mois de formation, le
      premier <b>objectif est déjà pleinement atteint</b> notamment avec la
      découverte de la <strong>POO</strong>(Java), de la
      <strong>persistance des données</strong>(SQL Server) et
      <strong>développement en couches</strong>(MVC). Je suis très à l'aise avec
      ces nouvelles notions (nommé "Scrum Master" du premier projet d'école
      (ENI-Enchères)). <br />&nbsp;&nbsp;💻&nbsp;&nbsp;La seconde partie de la
      formation sera consacrée à
      <strong>
        Javascript(Angular), PHP(Symfony), WordPress, développement mobile sous
        Android et comprendra également le développement du second projet
        d'école avec PHP/MySQL.</strong
      >
      <br />&nbsp;&nbsp;&nbsp;🚀&nbsp;&nbsp;&nbsp;A l'issue de cette formation,
      j'envisage d'intégrer une formation de
      <em>Concepteur Développeur d'Applications en alternance</em>, me
      permettant ainsi de confirmer mes nouvelles compétences.
      <br />&nbsp;&nbsp;&nbsp;📢&nbsp;&nbsp;&nbsp;Je recherche actuellement une
      entreprise pour réaliser mon <strong> stage</strong> de fin de formation
      du <strong>17 Octobre au 9 Décembre 2022</strong>.
      <br />&nbsp;&nbsp;&nbsp;📬&nbsp;&nbsp;&nbsp;Chers visiteurs, n'hésitez pas
      à utiliser le<b> formulaire de contact</b> pour me soumettre vos
      questions, conseils ou remarques.
    </p>
  </div>
</article>
