<div
  class="container is-fluid has-background-warning-light"
  id="sectionWrapper"
>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title is-spaced">
            {{ descriptionProjet.titre }}
          </h2>
          <p
            class="subtitle"
            [innerHTML]="descriptionProjet.sousTitrePresentation"
          ></p>
          <p
            class="has-text-justified"
            [innerHTML]="descriptionProjet.contenuPrincipal"
          ></p>
          <br />
          <br />
          <p class="has-text-right">
            <i>{{ descriptionProjet.annotationFinArticle }}</i>
          </p>
        </div>
        <div class="column">
          <div class="columns is-multiline">
            <div class="column is-6 is-flex">
              <img
                [src]="descriptionProjet.imageUrlPresentation1"
                alt="{{ descriptionProjet.titre }}"
              />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img
                [src]="descriptionProjet.imageUrlPresentation2"
                alt="{{ descriptionProjet.titre }}"
              />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img
                [src]="descriptionProjet.imageUrlPresentation3"
                alt="{{ descriptionProjet.titre }}"
              />
            </div>
            <div class="column is-6 is-flex">
              <img
                [src]="descriptionProjet.imageUrlPresentation4"
                alt="{{ descriptionProjet.titre }}"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<button
  class="button is-large has-background-black-ter"
  onclick="history.back()"
>
  <span class="icon is-large has-text-white">
    <i class="fa-solid fa-2x fa-angle-left"></i>
  </span>
</button>
