<app-presentation-perso></app-presentation-perso>
<app-skills></app-skills>
<app-timeline></app-timeline>

<!-- <p style="text-indent: 15px">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C'est en 2009, au cours de ma
  formation à'IUT, que j'ai codé mes premières lignes en C++. Les rencontres
  et opportunités m'ont finalement guidé vers une formation d'ingénieur en
  genie industriel puis un début de carrière dans l'industrie. Au
  Royaume-Uni dans un premier temps, en région Parisienne ensuite, et dans
  ma Normandie natale enfin.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En 2020, alors que la pandémie nous
  assigne à résidence, je redécouvre la programmation informatique avec
  Python, le virus répapparait. Un changement dans ma vie de famille ne me
  permet cependant pas d'envisager de quitter mon poste et la stabilité que
  celui-ci m'offre.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fin 2021, je choisis enfin de me
  lancer dans l'aventure en parallèle de mon activité professionnelle, en me
  formant tout d'abord au front-end en autonomie. Je conçois et développe
  alors le site vitrine d'une microbrasserie normande.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quelques mois plus tard, je décide de
  me consacrer pleinement à ce projet, en quittant mon poste. J'intégre
  alors le cursus D2WM de l'ENI avec pour objectifs :
</p>
<ol class="ml-6">
  <li>mieux structurer mon apprentissage du développement Backend</li>
  <li>
    obtenir un premier titre professionnel reconnu dans le milieu du
    développement
  </li>
  <li>
    réaliser un stage en entreprise me permettant de justifier d'une
    première expérience en développement
  </li>
</ol>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Après 3 mois de formation, le premier
  objectif est déjà pleinement atteint notamment avec la découverte de la
  POO(Java), de la persitance des données(SQL Server) et développement en
  couches(MVC). Je suis très à l'aise avec ces nouvelles notions et ai
  d'ailleurs été désigné "Scrum Master" lors de la réalisation de notre
  premier projet d'équipe (ENI-Enchères). Ce rôle m'a permis d'asseoir mes
  nouvelles connaissances en re-expliquant ces notions à mes deux collègues
  (en difficulté à ce stade de la formation), mais également en ayant la
  responsabilité de concevoir l'architecture de l'application.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La seconde partie de la formation sera
  consacrée à la découverte de PHP(Symfony), WordPress, du développement
  mobile sous Android et comprendra également le développement d'une
  application en équipe avec PHP.
</p> -->
