<article class="message container my-6">
  <div class="message-body has-text-justified">
    <h2 class="title has-text-centered column is-full">Présentation</h2>
    <p>
      &nbsp;&nbsp;&nbsp;🏭&nbsp;&nbsp;&nbsp;C'est à l'IUT, en 2009, que j'écris
      mes premières lignes de code en C++. Malgré un réel intérêt pour cette
      discipline, c'est dans l'industrie que je débute ma carrière. Au
      Royaume-Uni d'abord, en région parisienne ensuite, et dans ma Normandie
      natale enfin.
      <br />&nbsp;&nbsp;&nbsp;🦠&nbsp;&nbsp;&nbsp;En 2020, alors que la pandémie
      nous assigne à résidence pendant plusieurs semaines, je m'occupe (et
      m'amuse) en codant de petits jeux en Python. L'idée d'en faire mon métier
      me traverse alors l'esprit, mais un (heureux) évènement m'empêche de
      quitter mon poste et la stabilité qu'il m'offre.
      <br />&nbsp;&nbsp;🍻&nbsp;&nbsp;&nbsp;Fin 2021, je me lance enfin dans
      l'aventure en me formant au front-end. Je conçois et développe alors le
      site vitrine d'une
      <a routerLink="/presentationProjet"> microbrasserie</a>. Quelques mois
      plus tard, je décide de quitter mon emploi pour me consacrer pleinement à
      ce projet. J'intègre alors le cursus
      <a
        href="https://www.eni-ecole.fr/formations/developpement/bac2-developpeur-web-et-web-mobile/"
        target="_blank"
      >
        D2WM de l'ENI</a
      >
      avec, pour objectifs :
    </p>
    <ul class="ml-6">
      <li>🤓- Me former au développement Backend</li>
      <li>👨‍🎓 - Obtenir un titre professionnel</li>
      <li>
        👨🏻‍💻 - Justifier d'une première expérience en développement (stage 2 mois)
      </li>
    </ul>
    <p>
      <br />&nbsp;&nbsp;&nbsp;🎯&nbsp;&nbsp;&nbsp;Après 3 mois de formation, le
      premier objectif est déjà pleinement atteint notamment avec la découverte
      de la POO(Java), de la persistance des données(SQL Server) et
      développement en couches(MVC). Je suis très à l'aise avec ces nouvelles
      notions (nommé "Scrum Master" du premier projet d'école (ENI-Enchères)).
      <br />&nbsp;&nbsp;💻&nbsp;&nbsp;La seconde partie de la formation sera
      consacrée à Javascript(Angular), PHP(Symfony), WordPress, développement
      mobile sous Android et comprendra également le développement du second
      projet d'école avec PHP/MySQL.
      <br />&nbsp;&nbsp;&nbsp;🚀&nbsp;&nbsp;&nbsp;A l'issu de cette formation,
      j'envisage d'intégrer une formation de Concepteur Développeur
      d'Applications en alternance, me permettant ainsi de confirmer mes
      nouvelles compétences. <br />&nbsp;&nbsp;&nbsp;📢&nbsp;&nbsp;&nbsp;Je
      recherche actuellement une entreprise pour réaliser un stage (fullstack)
      du 17 Octobre au 9 Décembre 2022.<br />&nbsp;&nbsp;&nbsp;📬&nbsp;&nbsp;&nbsp;Chers
      visiteurs, n'hésitez pas à utiliser le formulaire de contact pour me
      soumettre vos questions, conseils, remarques...
    </p>
  </div>
</article>
<app-skills></app-skills>
<app-timeline></app-timeline>

<!-- <p style="text-indent: 15px">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C'est en 2009, au cours de ma
  formation à'IUT, que j'ai codé mes premières lignes en C++. Les rencontres
  et opportunités m'ont finalement guidé vers une formation d'ingénieur en
  genie industriel puis un début de carrière dans l'industrie. Au
  Royaume-Uni dans un premier temps, en région Parisienne ensuite, et dans
  ma Normandie natale enfin.<br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En 2020, alors que la pandémie nous
  assigne à résidence, je redécouvre la programmation informatique avec
  Python, le virus répapparait. Un changement dans ma vie de famille ne me
  permet cependant pas d'envisager de quitter mon poste et la stabilité que
  celui-ci m'offre.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fin 2021, je choisis enfin de me
  lancer dans l'aventure en parallèle de mon activité professionnelle, en me
  formant tout d'abord au front-end en autonomie. Je conçois et développe
  alors le site vitrine d'une microbrasserie normande.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quelques mois plus tard, je décide de
  me consacrer pleinement à ce projet, en quittant mon poste. J'intégre
  alors le cursus D2WM de l'ENI avec pour objectifs :
</p>
<ol class="ml-6">
  <li>mieux structurer mon apprentissage du développement Backend</li>
  <li>
    obtenir un premier titre professionnel reconnu dans le milieu du
    développement
  </li>
  <li>
    réaliser un stage en entreprise me permettant de justifier d'une
    première expérience en développement
  </li>
</ol>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Après 3 mois de formation, le premier
  objectif est déjà pleinement atteint notamment avec la découverte de la
  POO(Java), de la persitance des données(SQL Server) et développement en
  couches(MVC). Je suis très à l'aise avec ces nouvelles notions et ai
  d'ailleurs été désigné "Scrum Master" lors de la réalisation de notre
  premier projet d'équipe (ENI-Enchères). Ce rôle m'a permis d'asseoir mes
  nouvelles connaissances en re-expliquant ces notions à mes deux collègues
  (en difficulté à ce stade de la formation), mais également en ayant la
  responsabilité de concevoir l'architecture de l'application.
  <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La seconde partie de la formation sera
  consacrée à la découverte de PHP(Symfony), WordPress, du développement
  mobile sous Android et comprendra également le développement d'une
  application en équipe avec PHP.
</p> -->
