<div
  class="container is-fluid has-background-warning-light"
  id="sectionWrapper"
>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title is-spaced">ENI-Enchères</h2>
          <p class="subtitle">
            Site d'enchères-troc (avec système de points).
            <br />
          </p>
          <p class="has-text-justified">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier projet d'école dont
            l'objectif était de mettre en application les notions de POO, de
            persistance des données et développement en couches. L'accent a été
            mis sur les fonctionnalités plus que sur le rendu esthétique de
            l'application.
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En tant que "Scrum Master",
            j'avais pour missions : concevoir l'architecture logicielle ;
            accompagner mes collègues (en difficulté à ce stade de la
            formation). Je poursuis désormais seul le développement, dans le but
            d'entretenir/approfondir mes compétences en JavaEE.
          </p>
          <br />
          <p class="has-text-justified">
            Mots clés : JavaEE9, TomcatV9, SQL Server, modèle MVC, git/github,
            eclipse, pair programming, code review
          </p>
          <br />
          <br />
          <p class="has-text-right"><i>Réalisé en Juillet 2022.</i></p>
        </div>
        <div class="column">
          <div class="columns is-multiline">
            <div class="column is-6 is-flex">
              <img src="../../../assets/enchereDiagClasse.png" alt="" />
            </div>
            <div class="column is-6 is-flex">
              <img src="../../../assets/enchereDiagEtatUC.png" alt="" />
            </div>
            <div class="column is-6 is-flex">
              <img src="../../../assets/encheresEncheresCoComp.png" alt="" />
            </div>
            <div class="column is-6 is-flex">
              <img src="../../../assets/encheresVendreComp.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<button
  class="button is-large has-background-black-ter"
  onclick="history.back()"
>
  <span class="icon is-large has-text-white">
    <i class="fa-solid fa-2x fa-angle-left"></i>
  </span>
</button>
