<div class="landing-block">
  <!-- <img src="../../assets/computer.jpg" alt="" /> -->
  <div class="message is-warning" id="box">
    <p class="message-body has-text-justified">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Après 7 années dans l'accompagnement
      d'équipes de production industrielle, j'ai décidé de prendre un virage
      dans ma carrière et de renouer avec un domaine découvert lors de mon
      cursus universitaire : la <strong> programmation informatique</strong>.
      <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Des mois de réflexion et des centaines
      d'heures de formation en autonomie m'ont été nécessaires pour décider,
      début 2022, de quitter mon emploi et intégrer le cursus
      <strong> Développeur Web et Web Mobile</strong> de l'ENI, concrétisant
      ainsi ce projet aussi délirant qu'excitant.<br />
      Dans le cadre de cette formation, je recherche une entreprise pouvant
      m'accueillir pour un
      <strong> stage de 2 mois à partir du 17 Octobre 2022</strong>.<br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Je vous souhaite une bonne visite sur
      mon site, qui vous permettra de me découvrir, mais aussi et surtout, les
      projets réalisés depuis le début de cette aventure.
    </p>
  </div>
</div>
