<div
  class="container is-fluid has-background-warning-light"
  id="sectionWrapper"
>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="title is-spaced">MicroBrasserie Barbemousse</h2>
          <p class="subtitle">
            Site vitrine d'une microbrasserie normande souhaitant mieux
            communiquer sur ses produits et points de distribution.
            <br />
          </p>
          <p class="has-text-justified">
            Premier projet concret, au cours duquel j'ai découvert l'utilisation
            d'un framework frontend et la notion de <i>composants</i>. J'ai
            réalisé ce projet avec, pour données de démarrage : un logo et
            quelques photo. M'inspirant de ces éléments, j'ai pensé et développé
            la totalité de l'application.
          </p>
          <br />
          <p class="has-text-justified">
            Mots clés : ReactJS, Bootstrap, animations CSS, responsive design,
            reccueil du besoin client, hébergement WEB, SEO, formulaire de
            contact, intégration de plugins.
          </p>
          <br />
          <br />
          <p class="has-text-right">
            <i
              >Site en construction. Projet démarré en Mars 2022. Déploiement
              prévu Q3-2022.</i
            >
          </p>
        </div>
        <div class="column">
          <div class="columns is-multiline">
            <div class="column is-6 is-flex">
              <img src="../../assets/Barbemousse1-min.png" alt="" />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img src="../../assets/scrollFullPagegif.gif" alt="" />
            </div>
            <div class="column is-6 is-flex is-justify-content-center">
              <img src="../../assets/animationBieres.gif" alt="" />
            </div>
            <div class="column is-6 is-flex">
              <img src="../../assets/Barbemousse2-min.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<button
  class="button is-large has-background-black-ter"
  onclick="history.back()"
>
  <span class="icon is-large has-text-white">
    <i class="fa-solid fa-2x fa-angle-left"></i>
  </span>
</button>
