<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Conditions Générales de Vente</p>
      <button class="delete" aria-label="close" (click)="closeCGU()"></button>
    </header>
    <section class="modal-card-body">
      <h3>IDENTITÉ</h3>
      <p>
        Nom du site web : Vichit.fr<br />
        Adresse : https://www.vichit.fr/<br />
        Propriétaire : Christophe VICHIT<br />Responsable de publication :
        Christophe VICHIT<br />Conception et réalisation : Christophe VICHIT<br />Hébergement
        : Hostinger International Ltd. | 61 Lordou Vironos st. 6023 Larnaca, the
        Republic of Cyprus
      </p>
      <br />
      <h3>CONDITIONS D’UTILISATION</h3>
      <p>
        L’utilisation du présent site implique l’acceptation pleine et entière
        des conditions générales d’utilisation décrites ci-après. Ces conditions
        d’utilisation sont susceptibles d’être modifiées ou complétées à tout
        moment.
      </p>
      <br />
      <h3>INFORMATIONS</h3>
      <p>
        Les informations et documents du site sont présentés à titre indicatif,
        n’ont pas de caractère exhaustif, et ne peuvent engager la
        responsabilité du propriétaire du site. Le propriétaire du site ne peut
        être tenu responsable des dommages directs et indirects consécutifs à
        l’accès au site.
      </p>
      <br />
      <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
      <p>
        Sauf mention contraire, tous les éléments accessibles sur le site
        (textes, images, graphismes, logo, icônes, sons, logiciels, etc.)
        restent la propriété exclusive de leurs auteurs, en ce qui concerne les
        droits de propriété intellectuelle ou les droits d’usage. Toute
        reproduction, représentation, modification, publication, adaptation de
        tout ou partie des éléments du site, quel que soit le moyen ou le
        procédé utilisé, est interdite, sauf autorisation écrite préalable de
        l’auteur. Toute exploitation non autorisée du site ou de l’un quelconque
        des éléments qu’il contient est considérée comme constitutive d’une
        contrefaçon et poursuivie. Les marques et logos reproduits sur le site
        sont déposés par les sociétés qui en sont propriétaires.
      </p>
      <br />
      <h3>LIENS</h3>

      <h3>LIENS SORTANTS</h3>
      <p>
        Le propriétaire du site décline toute responsabilité et n’est pas engagé
        par le référencement via des liens hypertextes, de ressources tierces
        présentes sur le réseau Internet, tant en ce qui concerne leur contenu
        que leur pertinence.
      </p>
      <br />
      <h3>LIENS ENTRANTS</h3>
      <p>
        Le propriétaire du site autorise les liens hypertextes vers l’une des
        pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre
        et soient présentés de manière non équivoque afin d’éviter : tout risque
        de confusion entre le site citant et le propriétaire du site ainsi que
        toute présentation tendancieuse, ou contraire aux lois en vigueur. Le
        propriétaire du site se réserve le droit de demander la suppression d’un
        lien s’il estime que le site source ne respecte pas les règles ainsi
        définies.
      </p>
      <br />
      <h3>CONFIDENTIALITÉ</h3>
      <p>
        Tout utilisateur dispose d’un droit d’accès, de rectification et
        d’opposition aux données personnelles le concernant, en effectuant sa
        demande écrite et signée, accompagnée d’une preuve d’identité à
        contact@vichit.fr. Vos données ne font l'objet d'aucun traitement
        marketing ou commerciale.
      </p>
    </section>
  </div>
</div>
